In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
mesh_df = pd.read_csv("./mesh_metadata.csv")
mesh_df

      name  triangles    faces  vertices    edges
0    307-L     662797   662797   1988391  1988391
1      1-L    1253165  1253165   3759495  3759495
2      1-R    1099597  1099597   3298791  3298791
3     10-L     855234   855234   2565702  2565702
4     10-R     768887   768887   2306661  2306661
..     ...        ...      ...       ...      ...
965   97-R    1109472  1109472   3328416  3328416
966   98-L    1069176  1069176   3207528  3207528
967   98-R    1050062  1050062   3150186  3150186
968   99-L    1083964  1083964   3251892  3251892
969   99-R    1233656  1233656   3700968  3700968

[970 rows x 5 columns]

In [5]:
ps_l = mesh_df[mesh_df["name"].str.contains("L")]
ps_r = mesh_df[mesh_df["name"].str.contains("R")]

In [3]:
total_triangles = mesh_df["triangles"].to_numpy()

In [10]:
mesh_df["triangles"].max()

1688348

In [4]:
avg_triangles = np.mean(total_triangles)
med_triangles = np.median(total_triangles)

print(avg_triangles, med_triangles)
print(np.round(avg_triangles))

994601.1742268042 982245.0
994601.0

In [12]:
ps_l

      name  triangles    faces  vertices    edges
0    307-L     662797   662797   1988391  1988391
1      1-L    1253165  1253165   3759495  3759495
3     10-L     855234   855234   2565702  2565702
5    100-L     930983   930983   2792949  2792949
7    101-L    1157609  1157609   3472827  3472827
..     ...        ...      ...       ...      ...
960   95-L    1085364  1085364   3256092  3256092
962   96-L    1171904  1171904   3515712  3515712
964   97-L    1048178  1048178   3144534  3144534
966   98-L    1069176  1069176   3207528  3207528
968   99-L    1083964  1083964   3251892  3251892

[484 rows x 5 columns]

In [13]:
total_triangles = ps_l["triangles"].to_numpy()
avg_triangles = np.mean(total_triangles)
med_triangles = np.median(total_triangles)

print(avg_triangles, med_triangles)
print(np.round(avg_triangles))

981318.1487603306 968566.0
981318.0

In [10]:
total_triangles = ps_r["triangles"].to_numpy()
avg_triangles = np.mean(total_triangles)
med_triangles = np.median(total_triangles)

print(avg_triangles, med_triangles)
print(np.round(avg_triangles))

1007829.5370370371 990405.5
1007830.0